images/
annotations/
results/
external/
.DS_Store

MatlabAPI/analyze*/
MatlabAPI/visualize*/
MatlabAPI/private/maskApiMex.*

PythonAPI/pycocotools/__init__.pyc
PythonAPI/pycocotools/_mask.c
PythonAPI/pycocotools/_mask.so
PythonAPI/pycocotools/coco.pyc
PythonAPI/pycocotools/cocoeval.pyc
PythonAPI/pycocotools/mask.pyc
PythonAPI/build/
PythonAPI/pycocotools.egg-info/
PythonAPI/pycocotools/__pycache__/
PythonAPI/pycocotools/_mask.cpython-36m-x86_64-linux-gnu.so
PythonAPI/__pycache__/
PythonAPI/build/
PythonAPI/pycocotools.egg-info/
