PythonAPI/venv/

images/
annotations/
results/
external/
.DS_Store

MatlabAPI/analyze*/
MatlabAPI/visualize*/
MatlabAPI/private/maskApiMex.*

PythonAPI/pycocotools/__init__.pyc
PythonAPI/pycocotools/_mask.c
PythonAPI/pycocotools/_mask.so
PythonAPI/pycocotools/coco.pyc
PythonAPI/pycocotools/cocoeval.pyc
PythonAPI/pycocotools/mask.pyc
PythonAPI/pycocotools/_mask.cpython-39-x86_64-linux-gnu.so
PythonAPI/pycocotools.egg-info/top_level.txt
PythonAPI/pycocotools.egg-info/SOURCES.txt
PythonAPI/pycocotools.egg-info/requires.txt
PythonAPI/pycocotools.egg-info/PKG-INFO
PythonAPI/pycocotools.egg-info/dependency_links.txt
PythonAPI/build/temp.linux-x86_64-cpython-39/pycocotools/_mask.o
PythonAPI/build/lib.linux-x86_64-cpython-39/pycocotools/_mask.cpython-39-x86_64-linux-gnu.so
PythonAPI/build/common/maskApi.o
